@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul li{
  text-decoration: none;
  list-style-type:none;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.Sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #0f171f;
  overflow-x: hidden;
  padding-top: 20px;
}

.SidebarItemText {
  font-size: 12px;
}

.SidebarItem {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  /* border-radius: 10px; */
  border:none;
  cursor: pointer;
  background: none;
}

.SidebarItem:hover {
  background-color: #f1f1f1;
}

.avatarPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.SidebarItemUser {
  text-align: center;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  font-size: 25px;
  /* color: #818181; */
  display: block;
  border-radius: 10px;
  /* border: 1px solid white; */
  cursor: pointer;
}

.userInfo {
  padding: 5px;
  color: white;
  font-size: 12px;
}

/* DASHBOARD DESIGN (middle Panel) */

.mPanel {
  background-color: #f4f7f8;
   /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-left: 160px;
  margin-right:450px;

}

/* right panel */
.Sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #0f171f;
  overflow-x: hidden;
  padding-top: 20px;
}


.rPanel{
  height: 97%;
  width: 35%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: white;
  overflow-x: hidden;
  padding-top: 20px;
  margin:15px 30px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:48px;
  border-radius:10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

}

.Squares {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.AddSquare{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 10px;
  filter: brightness(80%);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.Square {
  border: none;
  background: white;

  min-width: 200px;
  min-height: 200px;
  /* display: flex; */
  align-items: center;
  margin: 10px;
  justify-content: center;
  /* border: 1px solid gray; */
  cursor: pointer;
  opacity:80%;
  border-radius: 5px;
  /* filter: brightness(80%); */
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
}

.Square:hover, .AddSquare:hover {
  filter: brightness(100%);
  opacity:100%;
}

.CategoryBoard > h3 {
  font-size: 22px;
  margin-left: 10px;
}

/* dashboard cards */

.unitImage{
  width:100%;
  height: 50%;
  border-top-right-radius:10px;
  border-top-left-radius:10px;

}

.cardText {
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.cardIcons{
  text-align: center;
  justify-content: center;
  display:flex;
  font-size:10px;
}

.card {
  background-color: #fff;
  max-width: 360px;
  height:100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  /* box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5); */
  font-size:10px;
}

.card .banner {
  /* background-image: url(https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 11rem; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  filter: brightness(80%);
}

.card h3.name {
  text-align: center;
  padding: 0.2rem;
  margin: 0;
}

.card .actions .follow-info {
  /* padding: 0 0 1rem; */
  display: flex;
}

.card .title {
  color: #a0a0a0;
  font-size: 0.85rem;
  text-align: center;
  /* padding: 0 2rem 1.2rem; */
}

.card .actions {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  order: 99;
}

.card .actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}

.card .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}

.card .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}

.horCards{
  width:100%;
  /* display: flex; */
  flex-direction: row;
}

.horCard{
  display:block;
  align-items: center;
  margin:10px;
  width: 650px;
  height:100px;
  padding:10px 20px;
  background-color: white;
}

.horCard1{
  display:block;
  align-items: center;
  margin:10px;
  width: 650px;
  height:100px;
  /* padding:10px 20px; */
  background-color: white;
}

.horCard2{
  display:block;
  align-items: center;
  justify-content: center;
  margin:10px;
  width: 650px;
  /* height:100px; */
  /* padding:10px 20px; */
  background-color: white;
}

.tag{
  display: flex;
  justify-content: center;
  margin:0;
}

.tagWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
}

.maintDesc{
  font-size:14px;
  padding: 0 20px;
  /* width: 200px; */
}

.cardCols{
  display:flex;
  /* justify-content: flex-start; */
  align-items: center;
}

.cardColsAdd{
  display:block;
  /* justify-content: flex-start; */
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width:650px;
  font-size:48px; 
  border: 0.5px dashed #d9d9d9;
}

.center:hover{
  transition:0.3s;
  /* background-color: antiquewhite; */
  cursor:pointer;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

}

.cardColStart{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.cardColEnd{
  display:flex;
  justify-content: flex-end;
  margin-left: auto;
}

.ImgMaint{
  border-radius:50%;
  height:80px;
  width:80px;
}

.addBtn{
  font-size:24px;
  padding: 10px;
  /* background-color:gray; */
  color:white;
  border:none;
}

.brokenButton{
  background-color: #f4511e;
  opacity:0.8;
  color:white;
  padding: 8px 16px;
  border:none;
  font-size:14px;
  outline: none;
  border-radius:360px;
}
.fixedButton:active, .brokenButton:active {
  border-style: outset;
}

.brokenButton:hover, .fixedButton:hover{
  opacity:1;
  transition:0.3s;
  /* background-color: antiquewhite; */
  cursor:pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

.fixedButton{
  background-color: #52c41a;
  opacity:0.6;
  color:white;
  padding: 8px 24px;
  border:none;
  font-size:14px;
  outline: none;
  border-radius:360px;

}


/* Add form */
.cardColsAdd{
  display: flex;
  justify-content: space-evenly;
}
.AddForm {
  display: flex; 
  /* grid-column: 3; */
  padding: 20px 25px 20px 10px;
  display: flex;
  width: -webkit-fill-available;
}

.formInput{
  border:none;
  border-bottom:0.5px solid gray;
  /* padding:2px 4px; */
  font-size:14px;
  width:100%;
  margin: 0 10px 0 0;
  border-radius:0;
  outline: none;
}

.formInput1{
  width: 20%;
  border:none;
  border-bottom:0.5px solid gray;
  /* padding:2px 4px; */
  font-size:14px;
  /* width:100%; */
  margin: 0 10px;
  border-radius: 0;
  outline: none;
}

.addNewBtn{
  font-size: 14px;
  color:black;
  /* font-size:24px; */
  padding:15px 30px;
  /* background-color:gray; */
  border:none;
  

}

.addNewBtn:hover{
  background-color: aquamarine;
  transition: 0.3s;
  cursor:pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

.horCard:hover{
  transition:0.3s;
  /* background-color: antiquewhite; */
  cursor:pointer;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
}

.ant-card .ant-card-bordered{
  width:200px;
}

.ant-card-body {
  padding: 24px;
  padding-bottom: 0px !important;
}

.issueDetails{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}


@media only screen and (max-width: 1300px) {
  .rPanel{
    display:none;
  }
}




