@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul li{
  text-decoration: none;
  list-style-type:none;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.Sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #0f171f;
  overflow-x: hidden;
  padding-top: 20px;
}

.SidebarItemText {
  font-size: 12px;
}

.SidebarItem {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  /* border-radius: 10px; */
  border:none;
  cursor: pointer;
  background: none;
}

.SidebarItem:hover {
  background-color: #f1f1f1;
}

.avatarPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.SidebarItemUser {
  text-align: center;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  font-size: 25px;
  /* color: #818181; */
  display: block;
  border-radius: 10px;
  /* border: 1px solid white; */
  cursor: pointer;
}

.userInfo {
  padding: 5px;
  color: white;
  font-size: 12px;
}

/* DASHBOARD DESIGN (middle Panel) */

.main-cards {
  column-count: 2;
  column-gap: 35px;
  /* margin: 20px; */
}

.mPanel {
  
   /* Same as the width of the sidenav */
  /* Increased text to enable scrolling */
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 160px;
  margin-right:450px;
  background-color: #f4f7f8;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;

}

/* right panel */
.Sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #0f171f;
  overflow-x: hidden;
  padding-top: 20px;
}


.rPanel{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 90%;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  margin:15px;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: white;

  /* height: 97%;
  
  
  z-index: 1;
  top: 0;
  right: 0;
  
  overflow-x: hidden;
  padding-top: 20px;
  
  display:flex;
   */
  font-size:48px;
  border-radius:10px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

}

.Squares {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.AddSquare{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 10px;
  filter: brightness(80%);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.CenterSquare{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: white;
  font-size:16px;
  width: 220px;
  height: 167px;
  /* min-width: 150px;
  min-height: 150px; */
  cursor: pointer;
  opacity:80%;
  border-radius: 5px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  margin: 10px;
  
}

.Square {
  display: flex;
  border: none;
  background: white;
  font-size:16px;
  min-width: 150px;
  min-height: 150px;
  /* display: flex; */
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  /* border: 1px solid gray; */
  cursor: pointer;
  opacity:80%;
  border-radius: 5px;
  /* filter: brightness(80%); */
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
}

.SquareNumber{
  font-size:16px;
}

.iconCenter{
  text-align: center;
  /* padding: 20px; */
  /* border: 1px solid white; */
}

.SquareDis{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: gray;
  width: 220px;
  height: 167px;
  /* min-width: 150px;
  min-height: 150px; */
  font-size:20px;
  /* display: flex; */
  align-items: center;
  margin: 10px;
  justify-content: center;
  /* border: 1px solid gray; */
  cursor: pointer;
  opacity:80%;
  border-radius: 5px;
  

}

.Square:hover, .AddSquare:hover {
  filter: brightness(100%);
  opacity:100%;
}

.CategoryBoard > h3 {
  font-size: 22px;
  margin-left: 10px;
}

.subsTitle{
  font-size: 22px;
  margin-left: 10px;
}

.chosenButton{
  border-bottom: 3px solid #00dcb8 !important;
  font-size:16px;
}

.activeList, .inactiveList{
  font-size:16px;
  padding:5px 0px;
  margin: 0px 10px;
  border:none;
  background-color: #f4f7f8;
  
}

.activeList:hover, .inactiveList:hover{
  border-bottom: 3px solid #00dcb8 !important;
}

.activeList:active, .activeList:focus ,  .inactiveList:active, .inactiveList:focus  {
  border-bottom: 3px solid #00dcb8 !important;
  outline: 0;

}

focus {outline:0;}

/* dashboard cards */

.unitImage{
  width:100%;
  height: 50%;
  border-top-right-radius:10px;
  border-top-left-radius:10px;

}

.cardText {
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.cardIcons{
  text-align: center;
  justify-content: center;
  display:flex;
  font-size:10px;
}

.card {
  background-color: #fff;
  max-width: 360px;
  height:100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  /* box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5); */
  font-size:10px;
}

.card .banner {
  /* background-image: url(https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 11rem; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  filter: brightness(80%);
}

.card h3.name {
  text-align: center;
  padding: 0.2rem;
  margin: 0;
}

.card .actions .follow-info {
  /* padding: 0 0 1rem; */
  display: flex;
}

.card .title {
  color: #a0a0a0;
  font-size: 0.85rem;
  text-align: center;
  /* padding: 0 2rem 1.2rem; */
}

.card .actions {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  order: 99;
}

.card .actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}

.card .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}

.card .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}

.horCards{
  width:100%;
  /* display: flex; */
  flex-direction: row;
  
}

.horCard {
  display:block;
  align-items: center;
  margin:10px;
  width: 650px;
  height:100px;
  padding:10px 20px;
  background-color: white;
  position: relative;
}

/* close button to card */
.delButton{
  background-color: #f50000;
  color:White;
  position: absolute;
  border-radius: 50%;
  border:none;
  /* padding: 0.5em; */
  font-size: 12px;
  width: 20px;
  height: 20px;
  top: -7px;
  right: -7px;
  display: none;
  opacity:0.7;
}

.delButton:hover{
  opacity:1;
}

.horCard1{
  display:block;
  align-items: center;
  margin:10px;
  width: 650px;
  height:100px;
  /* padding:10px 20px; */
  background-color: white;
}

.horCard2{
  display:block;
  align-items: center;
  justify-content: center;
  margin:10px;
  width: 650px;
  /* height:100px; */
  /* padding:10px 20px; */
  background-color: white;
}




.tag{
  display: flex;
  justify-content: center;
  margin:0;
}

.tagWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
}

.maintDesc{
  font-size:14px;
  padding: 0 20px;
  /* width: 200px; */
}

.cardCols{
  display:flex;
  /* justify-content: flex-start; */
  align-items: center;
  
}

.cardColsAdd{
  display:block;
  /* justify-content: flex-start; */
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width:650px;
  font-size:48px; 
  border: 0.5px dashed #d9d9d9;
}

.center:hover{
  transition:0.3s;
  /* background-color: antiquewhite; */
  cursor:pointer;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);

}

.cardColStart{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.cardColEnd{
  display:flex;
  justify-content: flex-end;
  margin-left: auto;
}

/* SUBSCRIPTION CARD DESIGN  */

.ImgMaint{
  border-radius:50%;
  height:80px;
  width:80px;
  font-size:12px;
}

.serviceIcon{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height:80px;
  width:80px;
  background-color: #00dcb830;
  color:#00dcb8;
}

.windowCleaningIcon{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height:80px;
  width:80px;
  background-color: #eb575730;
  color:#eb5757;

}

.steamIcon{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height:80px;
  width:80px;
  background-color: #F9A43B30;
  color:#F9A43B;

}

.insuranceIcon{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height:80px;
  width:80px;
  background-color: #0148df30;
  color:#0148df;

}

.clothesIcon{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height:80px;
  width:80px;
  background-color: #8a79f730;
  color:#8a79f7;

}


/* .serviceName{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px 15px;
  height:80px;
  width:80px;
  font-size:12px;
} */

.serviceFreq{
  font-size: 13px;
  color: #777;
}

.addSubsBtn{
  background-color: #00dcb8;
  color:white;
  padding: 6px 26px;
  border:none;
  font-size:14px;
  outline: none;
  border-radius:360px; 

}

.addSubsBtn:after{
  font-weight: bold;
  content: 'buy';
  font-size:16px;
}

.addSubsBtn:hover{
  background-color: #00dcb8;
  color:white;
  transition: 0.3s;
  cursor:pointer;
  width: 90px;
  
  
}
.addSubsBtn:hover:after{
  content: '→';
  color:white;

}


/* TICKET STYLING FOR ADMIN VIEW */
.addBtn{
  font-size:24px;
  padding: 10px;
  /* background-color:gray; */
  color:white;
  border:none;
}

.brokenButton{
  background-color: #f4511e;
  /* opacity:0.8; */
  color:white;
  padding: 8px 16px;
  border:none;
  font-size:14px;
  outline: none;
  border-radius:360px;
}
.fixedButton:active, .brokenButton:active {
  border-style: outset;
}

.brokenButton:hover{
  opacity:1;
  transition:0.3s;
  /* background-color: antiquewhite; */
  cursor:pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

.fixedButton{
  background-color: #00dcb8;
  /* opacity:0.6; */
  color:white;
  padding: 8px 24px;
  border:none;
  font-size:14px;
  outline: none;
  border-radius:360px;

}

/* TICKET STYLING FOR RESIDENT VIEW */
.openTicket{
  
  background-color: #00dcb8;
  /* opacity:0.8; */
  color:white;
  padding: 8px 16px;
  border:none;
  font-size:14px;
  outline: none;
  border-radius:360px;
  content: 'open';

}

.openTicket::after{
  content: 'open';

}

.closedTicket{
  background-color: #f4511e;
  /* opacity:0.6; */
  color:white;
  padding: 8px 24px;
  border:none;
  font-size:14px;
  outline: none;
  border-radius:360px;
  content: 'closed';
}

.closedTicket::after{
  content: 'closed';

}


/* Add form */
.cardColsAdd{
  display: flex;
  justify-content: space-evenly;
}
.AddForm {
  display: flex; 
  /* grid-column: 3; */
  padding: 20px 25px 20px 10px;
  display: flex;
  width: -webkit-fill-available;
}

.formInput{
  border:none;
  border-bottom:0.5px solid gray;
  /* padding:2px 4px; */
  font-size:14px;
  width:100%;
  margin: 0 10px 0 0;
  border-radius:0;
  outline: none;
}

.formInput1{
  width: 20%;
  border:none;
  border-bottom:0.5px solid gray;
  /* padding:2px 4px; */
  font-size:14px;
  /* width:100%; */
  margin: 0 10px;
  border-radius: 0;
  outline: none;
}

.addNewBtn{
  background-color: #fff;
  /* opacity:0.6; */
  color:#00dcb8;
  padding: 6px 26px;
  border:0.5px solid #00dcb8;
  font-size:14px;
  outline: none;
  border-radius:360px; 

}

.addNewBtn:after{
  font-weight: bold;
  content: 'add';
  font-size:16px;
}

.addNewBtn:hover{
  background-color: #00dcb8;
  color:white;
  transition: 0.3s;
  cursor:pointer;
  width: 90px;
  
  
}
.addNewBtn:hover:after{
  content: '→';
  color:white;

}

.horCard:hover .delButton{
  /* background-color: antiquewhite; */
  cursor:pointer;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  display: block;
}

.ant-card .ant-card-bordered{
  min-width: 150px;
}

/* CARD DESIGN 1 */
.pizza__details{
  display:flex;
  /* margin-top:auto; */
}

.pizza__detail{
  font-size: 12px;
  /* text-transform: uppercase; */
  /* margin-right: 20px; */
  padding: 10px;
  /* font-weight: 700; */
  display: block;
  text-align: center;
  align-items: center;
}

.pizza__detail:last-child, .pizza__detail:nth-last-child(2) {
  border-left:1px solid lightgray;
  height:120%;
}

.emoji{
  font-size: 12px;
  /* margin-right:3px */
}

/* CARD DESIGN 2 */
.centerCardPro{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: white;
  font-size:16px;
  min-width: 150px;
  min-height: 150px;
  cursor: pointer;
  opacity:80%;
  border-radius: 5px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  margin: 10px;

}

.cardPro {
  width: 220px;
  height: 167px;
  margin:10px;
  /* margin: 75px auto 0; */
  background-color: #fff;
  box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
  color: #444;
  text-align: center;
  font-size: 12px;
}

/* NOT IN USE, BUT USEFUL */
/* .cardPro .cardPro-header {
  position: relative;
  height: 48px;
}

.cardPro .cardPro-header .profile-img {
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
} */

.cardPro .cardPro-body {
  padding: 10px 20px;
}

.cardPro .cardPro-body .full-name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.cardPro .cardPro-body .username {
  font-size: 13px;
  color: #777;
  margin: 5px 0 0;
}

.cardPro .cardPro-body .city {
  font-weight: 500;
  margin: 10px 0 0;
}

.cardPro .cardPro-body .desc {
  line-height: 24px;
}

/* NOT IN USE, BUT USEFUL */
/* .card .social-icon {
  font-size: 18px;
  margin: 0 7px;
}

.card .social-icon.facebook {
  color: #3b5999;
}

.card .social-icon.twitter {
  color: #55acee;
}

.card .social-icon.tumblr {
  color: #34465d;
}

.card .social-icon.youtube {
  color: #cd201f;
}

.card .social-icon.linkedin {
  color: #0077b5;
}

.card .social-icon.google-plus {
  color: #dd4b39;
} */

.cardPro .cardPro-footer {
  display: table;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.cardPro .cardPro-footer .col {
  display: table-cell;
  padding: 10px;
  font-size: 12px;
  width:33%;
}

.cardPro .cardPro-footer .col:hover {
  background-color: #e6e6e6;
}


.cardPro .cardPro-footer .count {
  font-size: 12px;
  font-weight: 600;
}

.vr {
  border-right: 1px solid #e6e6e6;
}

.stat{
  margin:1em;
}

@media screen and (max-width: 575px) {
  .card {
      width: 96%;
  }

  .card .card-body {
      padding: 10px 20px;
  }

  .card .card-footer .col {
      padding: 0 10px;
  }

  .card .card-footer .count {
      display: block;
      margin-bottom: 5px;
  }
}







/* ++++++++++++++ */

.ant-card-head{
  text-align: center;

}

.ant-card-body {
  padding:0;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  border:1px solid white;

}

.issueDetails{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}


@media only screen and (max-width: 1300px) {
  .rPanel{
    display:none;
  }
  
}

@media only screen and (max-width:1300px){
  .horCard{
    width:70%;
    /* background-color: teal; */
  }
}




